body{
    margin:0
}
.left{
    width:43%;
    height:950px;
    background-color: #edcc13;
    float:left

}
.logo{
    width:50px;
    height:50px;
    border-radius: 35px;
    padding-left: 10px;
    padding-top: 10px;

}
.image{
    padding-left:92px;
    padding-top:237px;
    width: 365px;

}
.heading{
color:black;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.para{
    color:black;
    font-size:25px;
    font-weight:bold;
    padding-left:30px
}
.list{
    color:black;
    font-size:20px
}
.footer{
    opacity: 0.5;
    padding-top: 100px;
}
.right{
    float:right;
    width:50%;
    height:950px;
}
.table
{
    margin-top:10px
}
.name{
    margin-top:20px;
    width:400px;
    border-radius: 30px;

}
.gender{
    margin-top:20px
}
.submit{
    margin-top:13px;
    border-radius: 10px;
}
.rhead1{
    padding-top: 120px;
}
.g1{
    padding-top:20px;
}